<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AssignmentController</servlet-name>
        <servlet-class>controllers.AssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>controllers.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>controllers.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprintController</servlet-name>
        <servlet-class>controllers.SprintController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>controllers.TaskController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentController</servlet-name>
        <url-pattern>/AssignmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/ProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprintController</servlet-name>
        <url-pattern>/SprintController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/TaskController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
